  <div class="card">
    <div class="card-content">
        <div class="card-header">
            <h5 class="card-title">Formulario {{(cliente.id > 0)? 'Update': 'Create'}} Cliente</h5>
        </div>
        <div class="card-body">

            <form (ngSubmit)="onSubmit(clienteForm)" #clienteForm="ngForm">


                <div>
                    <input placeholder="Carnet identidad" name="ci" [(ngModel)]="cliente.ci" class="form-control my-2"
                        #ci="ngModel">

                    @if (errors?.ci) {
                    <div class="text-danger">{{ errors.ci }}</div>
                    }
                </div>

                <div>
                    <input placeholder="Nombre" name="nombre" [(ngModel)]="cliente.nombre" class="form-control my-2"
                        #nombre="ngModel">

                    @if (errors?.nombre) {
                    <div class="text-danger">{{ errors.nombre }}</div>
                    }

                </div>
                <div>
                    <input placeholder="Apellido" name="paterno" [(ngModel)]="cliente.paterno" class="form-control my-2"
                        #paterno="ngModel"> <!-- required -->
                    @if (errors?.paterno) {
                    <div class="text-danger">{{ errors.paterno }}</div>
                    }
                 
                </div>

                <!--<div>
                    <input placeholder="Telefono" name="telefono" [(ngModel)]="cliente.telefono" class="form-control my-2"
                        #telefono="ngModel">

                    @if (errors?.telefono) {
                    <div class="text-danger">{{ errors.telefono }}</div>
                    }
                </div>
                <div>
                    <input placeholder="Email" name="email" [(ngModel)]="cliente.email" class="form-control my-2"
                        type="email" #email="ngModel">  
                    @if (errors?.email) {
                        <div class="text-danger">{{ errors.email }}</div>
                    }
                </div>
                <div>
                    <input placeholder="Genero" name="genero" [(ngModel)]="cliente.genero" class="form-control my-2"
                        #genero="ngModel"> 
                        @if (errors?.genero) {
                        <div class="text-danger">{{ errors.genero }}</div>
                        }

                </div>
                <div>
                    <input placeholder="Edad" name="edad" [(ngModel)]="cliente.edad" class="form-control my-2"
                        #edad="ngModel">

                    @if (errors?.edad) {
                    <div class="text-danger">{{ errors.edad }}</div>
                    }
                </div>-->
              
                <div>
                    <button type="submit" class="btn btn-primary m-2"> <!-- [disabled]="userForm.invalid" -->
                        {{(cliente.id > 0)? 'Update': 'Create'}}
                    </button>

                    <button type="button" class="btn btn-secondary my-2" (click)="onClear(clienteForm)">
                        Clear
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>