<!-- Barra de navegación lateral izquierda -->
<nav class="rounded-lg bg-gradient-to-br from-lime-500 to-lime-700 text-white h-100 w-64 px-4 py-6 shadow-lg transform transition-transform ease-in-out duration-300 border-r border-gray-800" >
  <div class="flex items-center justify-start mb-6">
    <img
      src="https://img.freepik.com/vector-premium/logotipo-farmacia-cruz-pastillas_859323-221.jpg?w=740"
      alt="Logo Farmacia Betania"
      class="w-12 h-12 object-contain rounded-full shadow-md"
    >
    <h1 class="ml-3 text-xl font-bold hover:text-blue-300 cursor-pointer transition duration-200">Farmacia Betania</h1>
  </div>


  <!-- Menú de navegación principal -->
  <!-- Menú de navegación principal -->
<!-- Menú de navegación principal -->
<div class="space-y-2 text-black">
  <!--<a
    routerLinkActive="bg-gradient-to-r from-teal-400 to-blue-500 text-white"
    routerLink="/compras"
     class="px-4 py-2 bg-lime-200 hover:bg-gradient-to-r hover:from-teal-400 hover:to-blue-500 rounded-lg shadow-md transform hover:translate-x-1 transition duration-200 flex items-center">
    <img src="https://img.icons8.com/?size=100&id=2797&format=png&color=000000" alt="Home" class="w-6 h-6 mr-2">Home
  </a>-->

  <a
    routerLinkActive="bg-gradient-to-r from-teal-400 to-blue-500 text-white"
    routerLink="/clientes"
     class="px-4 py-2 bg-lime-300  hover:from-teal-400 hover:to-blue-500 rounded-lg shadow-md transform hover:translate-x-1 transition duration-200 flex items-center">
    <img src="https://img.icons8.com/?size=100&id=83190&format=png&color=000000" alt="Clientes" class="w-6 h-6 mr-2">Clientes
  </a>

  <a
    routerLinkActive="bg-gradient-to-r from-teal-400 to-blue-500 text-white"
    routerLink="/proveedores"
     class=" px-4 py-2 bg-lime-300 hover:bg-gradient-to-r hover:from-teal-400 hover:to-blue-500 rounded-lg shadow-md transform hover:translate-x-1 transition duration-200 flex items-center">
    <img src="https://img.icons8.com/?size=100&id=83190&format=png&color=000000" alt="Proveedores" class="w-6 h-6 mr-2">Proveedores
  </a>

  <a
    routerLinkActive="bg-gradient-to-r from-teal-400 to-blue-500 text-white"
    routerLink="/laboratorios"
     class=" px-4 py-2 bg-lime-300 hover:bg-gradient-to-r hover:from-teal-400 hover:to-blue-500 rounded-lg shadow-md transform hover:translate-x-1 transition duration-200 flex items-center">
    <img src="https://img.icons8.com/?size=100&id=49452&format=png&color=000000" alt="Laboratorios" class="w-6 h-6 mr-2">Laboratorios
  </a>

  <!--<a
    routerLinkActive="bg-gradient-to-r from-teal-400 to-blue-500 text-white"
    routerLink="/empleados"
     class=" px-4 py-2 bg-lime-300 hover:bg-gradient-to-r hover:from-teal-400 hover:to-blue-500 rounded-lg shadow-md transform hover:translate-x-1 transition duration-200 flex items-center">
    <img src="https://img.icons8.com/?size=100&id=9542&format=png&color=000000" alt="Empleados" class="w-6 h-6 mr-2">Empleados
  </a>-->

  <a
    routerLinkActive="bg-gradient-to-r from-teal-400 to-blue-500 text-white"
    routerLink="/medicamentos"
     class=" px-4 py-2 bg-lime-300 hover:bg-gradient-to-r hover:from-teal-400 hover:to-blue-500 rounded-lg shadow-md transform hover:translate-x-1 transition duration-200 flex items-center">
    <img src="https://img.icons8.com/?size=100&id=0b8HVSECaEV7&format=png&color=000000" alt="Medicamentos" class="w-6 h-6 mr-2">Medicamentos
  </a>

  <a
    routerLinkActive="bg-gradient-to-r from-teal-400 to-blue-500 text-white"
    routerLink="/ventas"
     class=" px-4 py-2 bg-lime-300 hover:bg-gradient-to-r hover:from-teal-400 hover:to-blue-500 rounded-lg shadow-md transform hover:translate-x-1 transition duration-200 flex items-center">
    <img src="https://img.icons8.com/?size=100&id=K8ShlKW4D6dc&format=png&color=000000" alt="Ventas" class="w-6 h-6 mr-2">Ventas
  </a>
@if (admin) {
  <a
    routerLinkActive="bg-gradient-to-r from-teal-400 to-blue-500 text-white"
    routerLink="/compras"
     class=" px-4 py-2 bg-lime-300 hover:bg-gradient-to-r hover:from-teal-400 hover:to-blue-500 rounded-lg shadow-md transform hover:translate-x-1 transition duration-200 flex items-center">
    <img src="https://img.icons8.com/?size=100&id=K8ShlKW4D6dc&format=png&color=000000" alt="Compras" class="w-6 h-6 mr-2">Compras
  </a>}

  <a
    routerLinkActive="bg-gradient-to-r from-teal-400 to-blue-500 text-white"
    routerLink="/dashboard"
     class=" px-4 py-2 bg-lime-300 hover:bg-gradient-to-r hover:from-teal-400 hover:to-blue-500 rounded-lg shadow-md transform hover:translate-x-1 transition duration-200 flex items-center">
    <img src="https://ouch-cdn2.icons8.com/5vM6D14huELAkpi6c5u6iWUobYr8BxwqiFPUc5iYgpk/rs:fit:456:456/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvOTUv/MjZlN2IwZDAtYzcw/ZC00ZGNmLTlkODUt/ZDdjZTI2ZmJlN2Q5/LnBuZw.png" alt="dashboard" class="w-6 h-6 mr-2">Reporte
  </a>
  @if (admin) {

  <a
    routerLinkActive="bg-gradient-to-r from-teal-400 to-blue-500 text-white"
    routerLink="/reporte-inventario"
     class=" px-4 py-2 bg-lime-300 hover:bg-gradient-to-r hover:from-teal-400 hover:to-blue-500 rounded-lg shadow-md transform hover:translate-x-1 transition duration-200 flex items-center">
    <img src="https://ouch-cdn2.icons8.com/5vM6D14huELAkpi6c5u6iWUobYr8BxwqiFPUc5iYgpk/rs:fit:456:456/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvOTUv/MjZlN2IwZDAtYzcw/ZC00ZGNmLTlkODUt/ZDdjZTI2ZmJlN2Q5/LnBuZw.png" alt="dashboard" class="w-6 h-6 mr-2">Inventario
  </a>
  <a
  routerLinkActive="bg-gradient-to-r from-teal-400 to-blue-500 text-white"
  routerLink="/traspaso"
   class=" px-4 py-2 bg-lime-300 hover:bg-gradient-to-r hover:from-teal-400 hover:to-blue-500 rounded-lg shadow-md transform hover:translate-x-1 transition duration-200 flex items-center">
  <img src="https://ouch-cdn2.icons8.com/5vM6D14huELAkpi6c5u6iWUobYr8BxwqiFPUc5iYgpk/rs:fit:456:456/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvOTUv/MjZlN2IwZDAtYzcw/ZC00ZGNmLTlkODUt/ZDdjZTI2ZmJlN2Q5/LnBuZw.png" alt="traspaso" class="w-6 h-6 mr-2">traspaso
</a>
<a
routerLinkActive="bg-gradient-to-r from-teal-400 to-blue-500 text-white"
routerLink="/reporte-rango"
 class=" px-4 py-2 bg-lime-300 hover:bg-gradient-to-r hover:from-teal-400 hover:to-blue-500 rounded-lg shadow-md transform hover:translate-x-1 transition duration-200 flex items-center">
<img src="https://ouch-cdn2.icons8.com/5vM6D14huELAkpi6c5u6iWUobYr8BxwqiFPUc5iYgpk/rs:fit:456:456/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvOTUv/MjZlN2IwZDAtYzcw/ZC00ZGNmLTlkODUt/ZDdjZTI2ZmJlN2Q5/LnBuZw.png" alt="reporte-rango"class ="w-6 h-6 mr-2">reporte-rango
</a>}


</div>

 <!-- Sección de Autenticación -->
<div class="absolute bottom-6 px-4 space-y-3">
  <div class="flex items-center justify-between border-t pt-2 border-gray-700">
    <div *ngIf="login.isAuth; else notLoggedIn" class="flex items-center">
      <!-- Imagen de Usuario -->
      <img
        src="../../../assets/img/undraw_dev-productivity_c0yh (1).png"
        alt="Avatar"
        class="w-8 h-8 rounded-full mr-2 border-2 border-blue-300">

      <!-- Nombre de Usuario -->
      <span class="text-sm text-blue-300">
        Usuario Actual: <strong>{{ login.user.username }}</strong>
      </span>

      <!-- Botón Logout -->
      <button
        class="ml-2 px-3 py-1 bg-green-500 text-white rounded hover:bg-green-600 transition duration-200"
        (click)="handlerLogout()">Logout</button>
    </div>
    <ng-template #notLoggedIn>
      <a class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600"
        href="/login">Sign In</a>
    </ng-template>
  </div>
</div>


</nav>

<!-- Botón para mostrar u ocultar el menú lateral en pantallas pequeñas -->
<!-- <div class=" ">
  <button
    class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition"
    (click)="toggleSidebar()">☰</button>
</div> -->


<!-- <style>
  @media (max-width: 768px) {
    #navbar {
      transform: translateX(-100%);
    }
    #navbar.show {
      transform: translateX(0);
    }
  }
</style> -->
