
<div class="max-w-4xl mx-auto mt-10 p-8 bg-gradient-to-r from-blue-500 to-teal-500 rounded-xl shadow-lg flex items-center">
  <!-- Imagen a la izquierda con animación de saludo -->
  <div class="w-1/3 mr-6">
    <!-- <img src="https://via.placeholder.com/150" alt="Saludo" class="w-full rounded-lg animate-ping"> -->
    <img src="../../../assets/img/undraw_dev-productivity_c0yh.png" alt="Productivity SVG">

  </div>

  <!-- Formulario a la derecha -->
  <div class="w-2/3">
    <div class="text-center mb-6">
        <h1>hola mundo</h1>
          <h5 class="text-white text-3xl font-semibold">Login Page</h5>
      </div>

      <div class="bg-white p-6 rounded-xl shadow-lg">
          <form (ngSubmit)="onSubmit()">
              <!-- Username input -->
              <input
                  name="username"
                  class="form-control my-4 p-3 w-full rounded-lg border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-all"
                  placeholder="Username"
                  [(ngModel)]="user.username">

              <!-- Password input -->
              <input
                  name="password"
                  class="form-control my-4 p-3 w-full rounded-lg border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-all"
                  type="password"
                  placeholder="Password"
                  [(ngModel)]="user.password">

              <!-- Login button -->
              <button
                  class="btn w-full p-3 mt-4 bg-blue-600 text-white rounded-lg font-semibold transition-all transform hover:scale-105 focus:ring-2 focus:ring-blue-500 hover:bg-blue-700"
                  type="submit">
                  Login
              </button>
          </form>
      </div>
  </div>
</div>

